.DS_Store
.bloop/
.bsp/
.idea/
.ipynb_checkpoints
.metals/
.scala-build/
.vscode/
bun.lock
deno.lock
metals.sbt
node_modules/
package-lock.json
target/
webview.h
yarn.lock
ycsb-core.jar
demokey.json
scitzen.out/
.zed
