.DS_Store
.bloop/
.bsp/
.idea/
.ipynb_checkpoints
.ipynb_checkpoints
.metals/
.scala-build/
.vscode/
.zed
bun.lock
demokey.json
deno.lock
metals.sbt
node_modules/
package-lock.json
scitzen.out/
target/
webview.h
yarn.lock
ycsb-core.jar
